body {
  background: radial-gradient(at 50% 50%, rgb(240, 247, 255), rgb(255, 255, 255));
  min-height: 100vh;
  margin: 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}