.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: hsla(220, 30%, 5%, 0.05) 0px 5px 15px 0px, hsla(220, 25%, 10%, 0.05) 0px 15px 35px -5px;
  background: radial-gradient(ellipse at 50% 50%, hsl(210, 100%, 97%), hsl(0, 0%, 100%));
  padding: 30px;
  width: 400px;
}

.divider {
  width: 100%;
  margin: 20px 0; 
}

.formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: 25px;
  margin-bottom: 5px;
  font-weight: bold;
}


.subtitle {
  font-size: 15px;
  color:rgb(51, 60, 77);
}

.sendButton {
  background: linear-gradient(rgb(51, 60, 77), rgb(11, 14, 20));
}

.connectButton {
  margin-top: 20px;
}